.grid-container {
  display: grid;
  gap: 1rem;
  padding: 1rem;
  color: white;
  width: 100%;
}
.grid {
  background-color: rgb(5, 5, 5);
  padding: 0.5rem;
}
.grid-cols-2 {
  grid-template-columns: repeat(2, 1fr);
}
.grid-cols-3 {
  grid-template-columns: repeat(3, 1fr);
}
.grid-cols-4 {
  grid-template-columns: repeat(4, 1fr);
}
.grid-rows-2 {
  grid-template-rows: repeat(2, 1fr);
}
.grid-rows-3 {
  grid-template-rows: repeat(3, 1fr);
}
.grid-rows-4 {
  grid-template-rows: repeat(4, 1fr);
}
