.button{
    display:inline-block;
    padding:.5em 1em;
    cursor:pointer;
    text-align: center;
    color:var(--font-color-invert);
    background:var(--primary);
    border:none;
    text-decoration: none;
    border-radius:0.31rem;
}
.button-sm{
    font-size:.75rem;
}
.button-md{
    font-size:1.25rem;
}
.button-lg{
    font-size: 1.5rem;
}
.button-full{
    color:var(--font-color-invert);
    width:100%;
}
/* || Primary button hover */
.button:hover{
    background:var(--primary-moderate);
}
.button:disabled{
    background: var(--primary-light);
    cursor:not-allowed;
}

/* || Primary button outlined varaint */
.button-outlined{
    background-color: transparent;
    color:var(--primary);
    border:var(--primary) .12rem solid;
}
.button-outlined:hover{
    border:var(--primary-dark) .15rem solid;
    background-color: transparent;
}
.button-outlined:disabled{
    border: #d1d5db .12rem solid;
    background:transparent;
    color:#6B7280;
    cursor:not-allowed;

}
/* || Link button */
.button-link{
    background: var(--secondary);
}

.button-link:hover{
    background-color:var(--secondary-moderate);
}
/* || Floating action button */
.button-fab{
    position:fixed;
    bottom:1rem;
    right:1rem;
}