@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap");
@import url("../components/css/alert/alert.css");
@import url("../components/css/avatar/avatar.css");
@import url("../components/css/badge/badge.css");
@import url("../components/css/button/button.css");
@import url("../components/css/cards/cards.css");
@import url("../components/css/image/image.css");
@import url("../components/css/input/input.css");
@import url("../components/css/list/list.css");
@import url("../components/css/grid/grid.css");
@import url("../components/css/utility/utility.css");
@import url("../components/css/navigation/navigation.css");
@import url("reset.css");

.red {
  color: #ef4444;
  background: #ef4444;
}
.green {
  color: #10b981;
  background: #10b981;
}
.grey {
  color: #6b7280;
  background: #6b7280;
}
